<!-- 每一個分頁都會以這個布局格式去呈現 -->


<!-- ./views/layouts/main.handlebars -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>restaurant</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
</head>

<body>
  <!-- navigation -->
  <nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Restaurant List</a>
    </div>
  </nav>

  <!-- partial templates will replace the part of "body" here -->
  {{{ body }}}

  <script src="/javascripts/jquery-3.5.0.min.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>

</html>